@app()
  @include('partials/header/main')

  <main up-main class="main">
    @include('partials/sidebar/main')

    <div id="document" up-main>
      <div class="docs_wrapper">
        @include('partials/doc/main')
        @include('partials/toc/main')
      </div>
    </div>
  </main>
@end
