<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>404 - Page not found</title>
  <meta name="description" content="Page not found. Visit https://docs.adonisjs.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/icons/site.webmanifest">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <meta name="turbo-cache-control" content="no-cache">

  {{-- Since entry point loading is defered, we have to keep this inline to avoid FOUC --}}
  <script>
    if (localStorage.colorMode === 'dark' || (!('colorMode' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>

  @entryPointStyles('app')
  @entryPointScripts('app')
  <script
    async
    defer data-domain="adonisjs.com"
    src="https://analytics.adonisjs.com/js/index.js"
  ></script>
</head>

<body>
  <section class="banner">
    <div>
      <h1>404</h1>
    </div>
    <div>
      <h2> Page not found </h2>
      <p>
        The page you are looking for does not exists. Visit the <a href="/">home page</a> or use the search to find relevant information
      </p>
    </div>
  </section>
</body>
</html>
