<div class="header-wrapper">
  <header class="header">
    <div class="header-container">

      <div class="primary-links">
        @include('partials/hamburger')
        @include('partials/logo')
      </div>

      @include('partials/desktop-main-nav')
      <div class="right-section" >
        @include('partials/dark-mode-toggler')
        @include('partials/search')
      </div>
    </div>
  </header>
</div>
