<div class="mobile-main-nav">
  <select x-data="selectBoxNavigate()" x-init="init" @change="navigateTo">
    @each((groups, name) in zones)
      <optgroup label="{{ name }}">
        @each(group in groups)
          <option value="{{ group.landingDoc.url }}">
            {{ groups.length === 1 ? name : group.name }}
          </option>
        @endeach
      </optgroup>
    @endeach
  </select>
</div>
