<div
  x-data="offCanvasMenu"
  id="sidenav-open"
  @toggle.window="open"
  :class="{ opened: opened }"
>
  <div class="sidebar">
    <div class="sidebar-container" up-nav x-data="prefetch">
      @include('partials/mobile-main-nav')
      @include('partials/sidebar-menu')
    </div>
  </div>

  <a
    href=""
    @click.prevent="close"
    data-turbo="false"
    id="sidenav-close"
    class="sidenav-backdrop"
    title="Close Docs Menu"
    aria-label="Close Docs Menu"
  ></a>
</div>
