<div id="sidenav-open" :class="{ opened: isSideNavOpen }">
  <div class="sidebar" id="sidebar" data-maintain-scroll>
    <div class="sidebar-container">
      @include('partials/mobile-main-nav')
      @include('partials/sidebar-menu')
    </div>
  </div>

  <a
    href=""
    @click.prevent="isSideNavOpen = false"
    data-turbo="false"
    id="sidenav-close"
    class="sidenav-backdrop"
    title="Close Docs Menu"
    aria-label="Close Docs Menu"
  ></a>
</div>
