@set('showNested', (doc.group === 'Database' && doc.zone === 'Reference') || file.options.tocDepth >= 3)

<aside class="toc {{ showNested ? 'show_nested' : '' }}">
  @if(file.toc)
    <div class="toc-container">
      <h3> On this page </h3>
      <nav>
        <ul x-data="tocMenu">
          @dimerTree(file.toc.children)~
        </ul>
      </nav>
    </div>
  @end
  @include('partials/carbon-ads')
</aside>
