<a
  {{{ dimerUtils.propsToAttributes(node.properties) }}}
  {{ node.properties.href.startsWith('http') ? 'target="_blank"' : '' }}
  {{ node.properties.href.startsWith('http') ? 'rel="noopener"' : '' }}
>
@dimerTree(node.children)~
</a>
