<div
  x-data="initializeCode()"
  class="dimer-highlight"
>
  @if(node.properties.dataTitle)
    <div class="codeblock-title">
      {{ node.properties.dataTitle }}
    </div>
  @endif

  <button class="ctc-action" x-ref="copyButton" @click="copyToClipboard">Copy to Clipboard</button>

{{-- Do not indent pre and its contents --}}
<pre>
@dimerTree(node.children)~
</pre>
</div>
