<figure>
  <img
    class="lazyload"
    data-src="{{ node.properties.src }}"
    alt="{{ node.properties.alt }}"
    {{ node.properties.width ? `width=${node.properties.width}` : '' }}
  />

  @if(node.properties.alt)
    <figcaption>{{ node.properties.alt }}</figcaption>
  @endif
</figure>
