<div class="header-wrapper">
  <header class="header" up-fixed="top">
    <div class="header-container">
      <div class="header-sidebar">
        @include('partials/header/hamburger')
        @include('partials/header/logo')
      </div>

      <div class="header-main">
        @include('partials/header/search')
        @include('partials/header/nav')
      </div>
    </div>
  </header>
</div>
