/*
--------------------------------
HEADER STYLES
--------------------------------
*/

.header-wrapper {
  height: var(--header-height);
}

.header {
  background: var(--brand-color);
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  right: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.primary-links {
  display: flex;
  align-items: center;
  padding: 0 var(--space-x);
}

/* LOGO STYLES */

.hamburger {
  color: #fff;
  margin-right: 8px;
  top: 1px;
  display: block;
  position: relative;
}

.hamburger svg {
  width: 26px;
  display: block;
  height: 26px;
}

.logo-wrapper a,
.logo-wrapper svg {
  display: block;
}

/* HEADER NAV  */
.header-nav {
  display: none;
}

/* SEARCH */
.search-wrapper {
  width: var(--toc-width);
  padding: 0 var(--space-x) 0 10px;
  border-left: 1px solid var(--brand-mute-color);
}

.search-trigger {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: var(--rounded-corners-size);
  width: 100%;
}

.search-trigger svg {
  position: relative;
  top: 1px;
  display: block;
}

.search-trigger span.text {
  margin-left: 10px;
  display: none;
}

@media (min-width: 768px) {
  .primary-links {
    width: var(--sidebar-width);
  }

  .search-trigger span.text {
    display: block;
  }

  .search-trigger {
    padding: 8px 12px;
  }

  .search-trigger:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1024px) {
  .header-nav {
    display: block;
    width: 655px;
    margin: 0 auto;
  }

  .header-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .header-nav > ul {
    display: flex;
  }

  .header-nav li {
    position: relative;
  }

  .header-nav li ul.dropdown {
    position: absolute;
    padding: 10px 0;
    top: -7px;
    z-index: 2;
    border-radius: 0 0 var(--rounded-corners-size) var(--rounded-corners-size);
    margin-top: var(--header-height);
    background: #fff;
    left: 0;
    box-shadow: 0px 4px 16px rgb(46 41 51 / 8%), 0px 8px 24px rgb(71 63 79 / 16%);

    pointer-events: none;
    opacity: 0;
    transition: 100ms opacity ease;
  }

  .header-nav li.expand ul.dropdown {
    opacity: 1;
    pointer-events: inherit;
  }

  .header-nav li a svg {
    margin-top: 4px;
    margin-left: 4px;
  }

  .header-nav li.expand a svg {
    transform: rotate(180deg);
  }

  .header-nav li a {
    display: block;
    padding: 8px 16px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
  }

  .header-nav > ul > li > a {
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    border-radius: var(--rounded-corners-size);
    margin-right: 10px;
    font-weight: var(--bold-font-weight);
    white-space: nowrap;
  }

  .header-nav li ul li a:hover {
    background: var(--gray);
  }

  .header-nav > ul > li.active > a,
  .header-nav  > ul > li > a:hover {
    color: #fff;
  }
}
