/*
--------------------------------
HEADER STYLES
--------------------------------
*/

.header-wrapper, .header {
  height: var(--header-height);
}

.header {
  background: var(--header-background-color);
  border-bottom: 1px solid var(--header-border-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  right: 0;
}

.header-container {
  display: flex;
  height: 100%;
  align-items: center;
  max-width: var(--window-max-width);
  margin: auto;
}

.header-sidebar {
  display: flex;
  align-items: center;
  padding-left: var(--space-x);
}

.header-main {
  display: flex;
  padding: 0 var(--space-x);
  align-items: center;
  flex: 1;
  justify-content: end;
}

/* HAMBURGER STYLES */
.hamburger {
  color: var(--text-color);
  margin-right: 18px;
  top: 1px;
  display: block;
  position: relative;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.hamburger svg {
  width: 12px;
  display: block;
  height: 12px;
}

/* LOGO STYLES */
.logo-wrapper a,
.logo-wrapper svg {
  display: block;
}

.logo-wrapper .logo {
  display: none;
}

/* SEARCH STYLES */
.search-wrapper {
  display: none;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.header-nav li {
  position: relative;
}

.header-nav li a {
  display: block;
  padding: 4px 14px;
  color: var(--header-link-color);
  font-size: var(--header-link-font-size);
  font-weight: var(--header-font-weight);
  letter-spacing: 0.5px;
  white-space: nowrap;
  text-decoration: none;
}

.header-nav li a:hover, .header-nav li a.up-current {
  color: var(--header-link-hover-color);
}

.header-nav li a svg {
  width: 17px;
  height: 17px;
  display: block;
  fill: currentColor;
}

.header-separator {
  height: 18px;
  width: 1px;
  background: var(--header-menu-separator-color);
  margin: 0 14px 0 8px;
}

.header-nav .main-nav {
  display: none;
}

.dark-mode-nav {
  display: flex;
  align-items: center;
}

.dark-mode-switch {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--header-link-color);
}

.dark-mode-switch svg {
  width: 20px;
  height: 20px;
  display: block;
}

@media (min-width: 768px) {
  .header-nav .main-nav {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }

  .logo-wrapper .logo {
    display: block;
  }

  .logo-wrapper .wordmark {
    display: none;
  }

  .header-sidebar {
    width: var(--sidebar-width);
  }

  .header-nav .search-nav {
    display: none;
  }

  .header-main {
    justify-content: space-between;
  }

  .search-wrapper {
    display: block;
    width: 100%;
    max-width: var(--search-wrapper-width);
    padding: 0 10px;
    border-radius: 9999px;
    background: var(--search-background-color);
    border: 1px solid var(--search-border-color);
    margin-inline: var(--space-x);
  }

  .search-wrapper:focus-within, .search-wrapper:hover {
    border-color: var(--search-hover-border-color);
  }
}
