/*
--------------------------------
SIDEBAR STYLES
--------------------------------
*/
.sidebar {
  background: var(--sidebar-background);
  box-shadow: var(--sidebar-shadow);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  overflow-y: auto;
  z-index: 3;
  transform: translateX(-110vw);
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1), visibility 0s linear 0.6s;
}

#sidenav-open.opened .sidebar {
  visibility: visible;
  transform: translateX(0);
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.sidebar-container {
  padding: 30px 0;
}

.sidebar nav {
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 0 calc(var(--space-x) - 12px);
}

.sidebar nav h3 {
  color: var(--heading-color);
  padding: 10px 12px;
  font-size: var(--sidebar-title-font-size);
  font-weight: var(--bold-font-weight);
  margin: 0;
}

.sidebar nav ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar nav li a {
  display: inline-block;
  font-size: var(--sidebar-link-font-size);
  color: var(--mute-color);
  border: 2px solid transparent;
  border-radius: var(--rounded-corners-size);
  margin-bottom: 3px;
  font-weight: 500;
  text-decoration: none;
  padding: 2px 10px;
}

.sidebar nav li a:hover {
  color: inherit;
}

.sidebar nav li a.up-current {
  color: var(--sidebar-selected-text);
  border-color: var(--accent-color);
}

.sidenav-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.6s ease, visibility 0s linear 0.4s;
}

#sidenav-open.opened .sidenav-backdrop {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease;
}

/*
--------------------------------
MOBILE ONLY
--------------------------------
*/
.mobile-main-nav {
  padding: 0 var(--space-x);
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .sidebar {
    transform: none;
    top: var(--header-height);
  }

  .sidenav-backdrop {
    display: none;
  }

  .mobile-main-nav {
    display: none;
  }
}

@media (prefers-reduced-motion) {
  #sidenav-open.opened .sidebar,
  #sidenav-open.opened .sidenav-backdrop,
  .sidebar,
  .sidenav-backdrop {
    transition: none !important;
  }
}
