/*
--------------------------------
TOC BLOCK
--------------------------------
*/

.toc {
  display: none;
  position: fixed;
  right: 0;
  padding: 0 20px 0 30px;
  top: var(--header-height);
  bottom: 0;
  width: var(--toc-width);
  overflow-y: auto;
  border-left: 1px solid var(--toc-border-color);
}

.toc-container {
  margin: 40px 0;
}

.toc h3 {
  font-size: var(--toc-title-font-size);
  font-weight: var(--bold-font-weight);
  text-transform: uppercase;
}

.toc nav > ul > li {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dashed var(--toc-border-color);
}

.toc ul li ul {
  margin-left: 10px;
  margin-top: 5px;
  display: none;
}

.toc.show_nested ul li ul {
  display: block;
}

.toc ul {
  list-style: none;
  padding: 0;
}

.toc li,
.toc ul,
.toc p {
  margin: 0;
}

.toc li a {
  font-size: var(--toc-link-font-size);
  color: var(--toc-text-color);
  text-decoration: none;
}

.toc li a:hover, .toc li a.up-current {
  color: inherit;
}

/** Required only when using Calibre */
.toc code {
  font-size: 1.2rem;
}

@media (min-width: 1280px) {
  .toc {
    display: block;
  }
}
