:root {
  --background-color: #f9f9f9;
  --brand-color: #5a45ff;
  --brand-faded-color: #afa7ef;
  --accent-color: rgba(2, 226, 255, 1);
  --text-color: #202223;
  --heading-color: #151515;
  --mute-color: #6d7175;
  --gray: #e8e8e8;
  --light-gray: #8c929c;
  --lighter-gray: #c9cccf;
  --danger-badge-color: #FCC6C5;
  --pre-background: #292d3e;
  --brand-mute-color: #d1cdf1;
  --sidebar-background: #fff;
  --sidebar-selected-text: var(--brand-color);
  --pre-header-border-color: #40405f;
  --pre-header-color: #b3b3d0;
  --toc-border-color: #d1d5db;
  --toc-text-color: var(--light-gray);

  --carbon-ads-bg-color: #f7f8fb;
  --carbon-ads-text: #454f5b;
  --carbon-powered-by-text: #919eab;

  --dropdown-background-color: #f9f9f9;
  --dropdown-hover-color: #e8e8e8;

  --font-sans: 'Calibre';
  --font-mono: 'Jetbrains Mono', monospace;

  --base-font-size: 1.9rem;
  --base-font-weight: 400;
  --bold-font-weight: 500;
  --mono-font-weight: 400;

  --header-height: 56px;
  --sidebar-width: 300px;
  --rounded-corners-size: 4px;
  --toc-width: auto;

  --sidebar-shadow: 0 0 0 1px rgba(17, 1, 34, 0.06), 0 2px 5px 0 rgba(17, 1, 34, 0.06);
  --sidebar-title-font-size: 2rem;
  --sidebar-link-font-size: 1.7rem;

  --toc-title-font-size: 1.5rem;
  --toc-link-font-size: 1.5rem;
  --alert-font-size: 1.8rem;
  --features-font-size: 1.7rem;

  --markdown-block-elements-margin: 40px;
  --markdown-paragraph-margin: 24px;
  --space-x: 32px;

  --markdown-content-width: 100%;
  --markdown-font-size: 2rem;
  --markdown-h1-size: 5rem;
  --markdown-h2-size: 3.4rem;
  --markdown-h3-size: 2.6rem;
  --markdown-h4-size: 2.2rem;

  --sponsors-card-bg: var(--gray);
}
