:root {
  --background-color: #f9f9f9;
  --brand-color: #5a45ff;
  --brand-faded-color: #afa7ef;
  --accent-color: rgba(2, 226, 255, 1);
  --text-color: #202223;
  --heading-color: #151515;
  --mute-color: #6d7175;
  --gray: #e8e8e8;
  --light-gray: #8c929c;
  --lighter-gray: #c9cccf;
  --danger-badge-color: #FCC6C5;
  --pre-background: #292d3e;
  --brand-mute-color: #d1cdf1;
  --sidebar-background: #fff;
  --pre-header-border-color: #40405f;
  --pre-header-color: #b3b3d0;

  --font-sans: 'Calibre';
  --font-mono: 'Jetbrains Mono', monospace;

  --base-font-size: 1.9rem;
  --base-font-weight: 400;
  --bold-font-weight: 500;
  --mono-font-weight: 400;

  --header-height: 56px;
  --sidebar-width: 300px;
  --rounded-corners-size: 4px;
  --toc-width: auto;

  --sidebar-shadow: 0 0 0 1px rgba(17, 1, 34, 0.06), 0 2px 5px 0 rgba(17, 1, 34, 0.06);
  --sidebar-title-font-size: 2rem;
  --sidebar-link-font-size: 1.7rem;

  --toc-title-font-size: 1.8rem;
  --toc-link-font-size: 1.5rem;
  --alert-font-size: 1.8rem;
  --features-font-size: 1.7rem;

  --markdown-block-elements-margin: 40px;
  --markdown-paragraph-margin: 24px;
  --space-x: 32px;

  --markdown-content-width: 100%;
  --markdown-font-size: 2rem;
  --markdown-h1-size: 5rem;
  --markdown-h2-size: 3.4rem;
  --markdown-h3-size: 2.6rem;
  --markdown-h4-size: 2.2rem;
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {

  :root {
		--background-color: rgb(38 38 38);
		--brand-color: rgb(80 63 212);
		--accent-color: rgb(6 208 234);
		--text-color: rgb(212 212 212);
		--heading-color: rgb(229 229 229);
		--mute-color: rgb(163 163 163);
		--gray: rgb(64 64 64);
		--light-gray: rgb(115 115 115);
		--lighter-gray: rgb(163 163 163);
		--danger-badge-color: rgb(239 68 68);
		--pre-background: rgb(255 255 255 / 1%);
		--brand-mute-color: rgb(255 255 255 / 5%);
		--sidebar-background: var(--background-color);
		--pre-header-border-color: rgb(64 64 95 / 50%);
		--pre-header-color: rgb(179 179 208 / 75%);
	
		--sidebar-shadow: none;
	}

	/* --- */

	.header-nav li ul.dropdown {
		background: var(--background-color) !important;
	}

	@media (min-width: 1024px) {
		.header-nav li ul.dropdown {
			box-shadow: 0px 4px 20px rgb(255 255 255 / 8%), 0px 16px 64px rgb(255 255 255 / 4%) !important;
		}
	}

	/* --- */

	.sidebar nav li a.up-current {
		color: var(--accent-color) !important;
		border-color: rgb(6 208 234 / 50%) !important;
	}

	/* --- */

	.toc {
		border-left-color: rgb(255 255 255 / 5%) !important;
	}

	.toc nav > ul > li {
		border-bottom-color: rgb(255 255 255 / 10%) !important;
	}

	.toc li a {
		color: var(--mute-color) !important;
	}

	/* --- */

	.markdown h2 {
		border-top-color: rgb(255 255 255 / 10%) !important;
	}

	.markdown hr {
		border-color: rgb(255 255 255 / 10%) !important;
	}

	.markdown .codegroup-tabs .highlighter {
		background: rgb(6 208 234 / 50%) !important;
	}

	.markdown .badge.badge-danger {
		color: rgb(255 255 255 / 90%)
	}

}
