:root {
  --font-sans: 'calibre', sans-serif;
  --font-mono: 'Source Code Pro', monospace;

  --space-x: 32px;
  --window-max-width: 1600px;

  --base-font-size: 1.9rem;
  --base-font-weight: 400;
  --bold-font-weight: 500;
  --mono-font-weight: 400;
  --base-line-height: 1.4;
  --pre-line-height: 26px;

  --header-height: 56px;
  --sidebar-width: 300px;
  --search-wrapper-width: 250px;
  --rounded-corners-size: 4px;
  --toc-width: auto;

  --sidebar-title-font-size: 1.8rem;
  --sidebar-link-font-size: 1.7rem;
  --header-link-font-size: 1.8rem;
  --package-selector-font-size: 1.6rem;

  --toc-title-font-size: 1.4rem;
  --toc-link-font-size: 1.5rem;
  --toc-code-font-size: 1.3rem;
  --doc-footer-font-size: 1.7rem;

  --markdown-block-elements-margin: 40px;
  --markdown-paragraph-margin: 24px;
  --markdown-line-height: 1.5;

  --markdown-content-width: 100%;
  --markdown-font-size: 1.9rem;

  --markdown-h1-size: 4.2rem;
  --markdown-h1-code-size: 3.2rem;

  --markdown-h2-size: 3.2rem;
  --markdown-h2-code-size: 2.6rem;

  --markdown-h3-size: 2.6rem;
  --markdown-h3-code-size: 1.8rem;

  --markdown-h4-size: 2rem;
  --markdown-h4-code-size: 1.5rem;

  --code-font-size: 1.5rem;
  --pre-code-font-size: 1.4rem;
  --pre-header-font-size: 1.6rem;

  --alert-font-size: 1.9rem;
}

@media (min-width: 768px) {
  :root {
    --space-x: 40px;
    --toc-width: 260px;
    --markdown-content-width: 60ch;
  }
}

@media (min-width: 1440px) {
  :root {
    --markdown-content-width: 70ch;
    --markdown-font-size: 2rem;
    --sidebar-link-font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --search-wrapper-width: 400px;
  }
}
