<div class="sponsors-wrapper">
  <h3> Platinum sponsors </h3>
  <div class="sponsors">
    <div class="sponsor">
      <a href="https://cleavr.io/adonis/?utm_source=adonisjs" target="_blank" title="Cleavr">
        <img src="/sponsors/cleavr_light.svg" style="width: 110px;" alt="Cleavr" class="for-light-mode">
        <img src="/sponsors/cleavr.svg" style="width: 110px;" alt="Cleavr" class="for-dark-mode">
      </a>
    </div>
  </div>
</div>
